<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager - Inicio</title>
</head>
<body>
    <h1>Buscar Computadora</h1>
    <form method="POST" action="/manager/BuscarMaquina">
        <label for="ID">Numero de Serie</label>
        <input type="text" name="ID" id="ID" placeholder="Escriba aqui" autofocus required maxlength="50"><br><br>
        <input type="submit" value="Enviar">

    </form>
    <a href="http://localhost:3000/"><button>HOME</button></a>
</body>
</html>