<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manager de Maquinas</title>
</head>
  <body>
    <h1>    <h1>Bienvenido a Manager</h1>
  </h1>
  <a href="http://localhost:3000/manager/AgregarMaquina"><button>Agregar</button></a>
  <a href="http://localhost:3000/manager/VerMaquinas"><button>Ver</button></a>
  <a href="http://localhost:3000/manager/BuscarMaquina"><button>Buscar</button></a>
  </body>
</html>